* {box-sizing: border-box}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 44px;
}

.container{
    max-width:1200px;
    margin: auto;
}

.header{
    display: flex; /*элетенты в 1 линию*/
    align-items: center; /*элементы по вертикали в 1 линию*/
    justify-content: space-between; //*раскидывание элементов по краям*/
    margin-bottom: 40px;
}
.input{
    background: white; /*фоновый увет строки поиска - белый*/
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px; /*размер шрифта в поле*/
    line-height: 24px; /*высота строки*/
    height: 40px;
    padding: 8px;
    padding-left: 35px; /*-отступ слева, что бы текст не заезжал на картинку*/
    background-repeat: no-repeat; /*устанавливаем единичное повторение*/
    background-position: left 11px center; /*позиционируем*/
}

.input-address {
    flex: 0.8; /*задаем размер строке 80% от свободного места*/
    /*width: 680px; /*для оптимизации изменяем на Flex*/
    background-image: url("../img/home.svg"); /*устанавливаем "домик" как картинку раб. зоны*/

}

.input-search{
    background-image: url("../img/search.svg");
    width: 300px;
    margin-left: auto;
  }

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    width: auto; /*в уроке не было*/
    height: 40px;/*в уроке не было*/
    padding-left: 8px;
    padding-right: 16px; /*эти 2 записи можно сократить на padding: 8px 16 px*/
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}

.button-primary {
    background: #1890FF;
    border: 1px solid #1890ff;
    color: #FFFFFF;
    margin-right: 10px;
}

.button_ic {
    margin-right: 6px
}
.button-card-text {margin-right: 10px}

.main {
    margin-top: 40px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.promo {
    /*width: 1200px;*/
    height: 300px; /*если прописывать в этом блоке то при адактации контенер не изменяет размера, или надо прописывать отдельно*/
    margin-top: 84px;
    top: 125px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.2);
    background: #FFF1B8; /*в уроке прописывалось по иному : " background: #FFF1B8 url(../img/promo.png no-repeat top -100 px right -247 /924 px " у меня почему то не подхватывалось изображение*/
    background-image: url("../img/promo.png");
    /*background-size: 300px;*/
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat ;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}

.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    color: #302C34;
}

.promo-title {
    line-height: 46px;
}

.promo-text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
    max-width: 538px;
}

.section-heading {
    display: flex; /*элетенты в 1 линию*/
    align-items: center; /*элементы по вертикали в 1 линию*/
    /*justify-content: space-between; /*раскидывание элементов по краям*/
    margin-bottom: 44px;
}

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-right: 30px;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; /*переност контента на след. строку, если он не помещает в 1*/
}

.card {
    height: complex;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    overflow:hidden;  /*обрезаем по размеру в карточки*/
    margin-bottom: 30px;
    flex-basis: 384px;
    text-decoration: none;
}

.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover; /*автоматическая обрезка картинки*/

}
.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.card-title-res {
    font-weight: 400;
}
 .card-tag {
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 20px;
     display: flex;
     align-items: center;
     color: #FFFFFF;
     background: #262626;
     border-radius: 2px;
     padding: 1px 8px;
 }
 .card-info {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     /*margin-bottom: 24px;*/
 }

.rating {
    margin-right: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107
}
.price{
    margin-right: 10px;
}
.price,
.category {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.price:after {/*создание псевдоэлемента для отображения элемнта "точка" после "Цены"*/
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.footer{
    padding: 60px 0;
    }

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-link {
    display: inline-block; /* */
    color: #595959; /*задаем цвет ссылки*/
    text-decoration: none; /*убрали нижнее подчеркивание*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

}
.footer-link:not(:last-child){ /*задает что для все блоков - ссылок но не для последнец*/
    margin-right: 15px; /*справа отступ 15 пикселей*/

}
.ingredients {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
    word-break: break-all;
}

.footer-nav { /*выравниваем ссылки по левой стороне ближе к логотипу*/
    margin-right: auto;
}
.footer-logo {
    margin-right: 20px;
}
 .social-link:not(:last-child) {
     margin-right: 21px /*для всех ссылок на соц. сети, но не для последней, делаем отступ справа*/
 }
.card-buttons {
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.card-price-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none; /*убираем модульное окно, что бы оно не было открыто всегда*/

}
.is-open { /*некоторый класс, который будет говорить нам, что окно надо открыть*/
    display: flex;

}
.modal-dialog {
    max-width: 780px;
    width: 95%;
    /*min-height: 552px;*/
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}
.modal-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.close {
    font-size: 39px;
    border: none;
    background-color: transparent; /* установили прозрачность фона знака "Close"*/

}
.modal-body {
    margin-bottom: 52px;
}
.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 16px;
}
.food-name{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.food-counter {
    display: flex;
    align-items: center;

}
.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #40A9FF;
}
.counter {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-buttons {
    display: flex;
    align-items: center;
}
.price-tag {
    background: #262626;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 23px;
}
/*
 @media (max-width: 1366px) {
     .container {
         max-width: 960px;
     }
     .promo {
         width: 960px;

     }
     
 }*/