* {box-sizing: border-box}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 44px;
}

.container{
    max-width:1200px;
    margin: auto;
}

.header{
    display: flex; /*элетенты в 1 линию*/
    align-items: center; /*элементы по вертикали в 1 линию*/
    justify-content: space-between; //*раскидывание элементов по краям*/

    margin-bottom: 40px;
}

.search-input {

    background: white; /*фоновый увет строки поиска - белый*/
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 40px;
    width: 690px;
    font-size: 16px; /*размер шрифта в поле*/
    line-height: 24px; /*высота строки*/
    background-image: url("../img/home.svg"); /*устанавливаем "домик" как картинку раб. зоны*/
    background-repeat: no-repeat; /*устанавливаем единичное повторение*/
    background-position: left 11px center; /*позиционируем*/
    padding-left: 35px; /*-отступ слева, что бы текст не заезжал на картинку*/
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    width: auto; /*в уроке не было*/
    height: 40px;/*в уроке не было*/
    padding-left: 8px;
    padding-right: 16px; /*эти 2 записи можно сократить на paddin: 8px 16 px*/
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}

.button-primary {
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
}

.button_ic {
    margin-right: 6px
}
.promo {
    width: 1200px;
    height: 300px;
    margin-top: 84px;
    top: 125px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.2);
    background: #FFF1B8; /*в уроке прописывалось по иному : " background: #FFF1B8 url(../img/promo.png no-repeat top -100 px right -247 /924 px " у меня почему то не подхватывалось изображение*/
    background-image: url("../img/promo.png");
    /*background-size: 300px;*/
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat ;
    border-radius: 10px;
    padding: 68px 70px;
}
.promo-text{
    max-width: 500px;
}



